.header {
  height: 100px;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e0e9d8;
  border-radius: 12px 12px 52px 52px;
  margin-bottom: 5rem;

  &__button {
    color: #3d5f16;
    padding: 0.5rem 1rem;
    font-weight: bold;
    font-size: 1.5rem;
    cursor: pointer;
    border: 3px solid #3d5f16;
    background-color: inherit;
    border-radius: 52px 52px 12px 12px;
  }
  &__button:hover {
    filter: grayscale(1px);
  }
}
